<% if flash.has?(:message) %>
	<%= flash[:message] %>
<% end %>

<form method="post" action="/tasks/new" id="new_task">
	<label for="title">Title:</label>
	<input type="text" name="title">
	<br>
	<label for="content">Content:</label>
	<textarea name="content" form="new_task">Enter text here...</textarea>
	<br>
	<label for="due_date">Due Date:</label>
	<input type="date" name="due_date">
	<br>
	<input type="submit" value="Create Task">
</form>
